.svg-container {
  border: 1px solid lightgray;
}
.svg__path {
  animation: bounce linear 600ms; 
  transform-origin: 50% 100%; 
  margin: auto;
}

body {
  padding-bottom: 110px;
}

.das-container {
  display: grid;
  width: 100%;
  grid-template-areas: "laptimes laptimes laptimes laptimes laptimes laptimes laptimes laptimes laptimes laptimes laptimes laptimes"
                       "horizontal-bars horizontal-bars horizontal-bars horizontal-bars horizontal-bars horizontal-bars horizontal-bars horizontal-bars horizontal-bars horizontal-bars  horizontal-bars  horizontal-bars"
                       "gps-track gps-track gps-track gps-track gps-track gps-track gps-track gps-track gps-track gps-track gps-track gps-track"
                       "vertical-bars vertical-bars vertical-bars vertical-bars vertical-bars vertical-bars vertical-bars vertical-bars vertical-bars vertical-bars vertical-bars vertical-bars"
                       "g-g-diagram g-g-diagram g-g-diagram g-g-diagram g-g-diagram g-g-diagram g-g-diagram g-g-diagram g-g-diagram g-g-diagram g-g-diagram g-g-diagram";
  grid-template-columns: repeat(12,1fr);
}

.laptimes {
  grid-area: laptimes;
}

.horizontal-bars {
  grid-area: horizontal-bars;
}

.gps-track {
  grid-area: gps-track;
}

.vertical-bars {
  grid-area: vertical-bars;
}

.g-g-diagram {
  grid-area: g-g-diagram ;
}

@media only screen and (min-width: 992px) {
  .das-container {
    grid-template-areas:  "laptimes laptimes laptimes laptimes laptimes laptimes gps-track gps-track gps-track gps-track gps-track gps-track"
                          "g-g-diagram g-g-diagram g-g-diagram g-g-diagram g-g-diagram g-g-diagram g-g-diagram horizontal-bars horizontal-bars horizontal-bars horizontal-bars horizontal-bars";
  }
}